*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/17938275.jpg);
    background-size: cover;    
    font-family: 'Roboto', sans-serif;
}

main{
    width: 60vw;
    height: 80vh;
    margin:10vh auto 0 auto;
   display: flex;
    box-shadow: 0rem 0rem 1rem .3rem rgba(0, 0, 0, 0.315) ;
}

.container__login{
    width: 50%;
    text-align: center;
    background-color: aliceblue;
}

.title__login{
    margin: 2rem 0 4rem 0;
}

.container_datos_login{
    width: 80%;
    margin: 0 auto;
}

.input{
    border: none;
    font-size: 1rem;
    width: 90%;
    background-color: transparent;
    outline: none;
}

.input_password{
    margin-top: 2rem;
}

.container__acces{
    margin: 0 1rem;
    border-bottom: thin solid black;
    display: flex;
    align-items:end ;
}

.container__remenber{
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.enlace__extern{
    text-decoration: none;
    color: rgb(190, 41, 158);
    font-weight: bold;
    margin-left: .5rem;
}

.bottom {
    margin: 3rem auto;
    background-color: rgb(190, 41, 158);
    padding: .5rem 1rem;
    border: none;
    border-radius: 1.5rem;
    font-size:1rem ;
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.bottom:active{
    background-color: rgb(160, 35, 133);
}

.container__register{
    display: flex;
    justify-content: center;
}

.container__image{
    width: 50%;
    background-image: url(./assets/peakpx.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}